
/*
These are the styles for the whole document
*/

.main-title {
    background: red;
    /* padding: 100px; */
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding left: 40px;
    padding right: 40px; */
    padding: 10px 40px;
    margin: 0;
}

.fancy-font, 
.navbar 
{
    font-family: 'Permanent Marker', cursive;
    /* color: red;
    color: #ff0000;
    color: #f00; */
    color: rgba(4, 41, 110, 0.858);
    color: green;
}

.navbar ul {
    padding-left: 0;
}

.navbar li {
    color: green;
    list-style: none;
}

li {
    font-size: 24px;
    color: orange;
}

.main-image {
    width: 140px;
}

.main-image img {
    width: 100%;
}

.hero-image {
    background-image: url(../images/water-ball.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}